{% load static %}
<html>
<head>
<title>Attendance Page</title>
    <link rel="stylesheet" href="{% static 'CSS/index.css' %}">
</head>
<body>
    
    <div class= nev>
        <li>
            <img src="{% static 'img/logo.png' %}" width=200px><br>
            <ul><a href="/">Home</a></ul>
            <ul><a href="http://127.0.0.1:8000/attendance/">Attendance</a></ul>
            <ul><a href="http://127.0.0.1:8000/search">student search</a></ul>
            <ul><a href="http://127.0.0.1:8000/contact/">contact us</a></ul>
        </li>
    </div>
    <h1 class=dd>developer details</h1>
    
    <div class=main-box>
        <div class='box1'>
            <div class='img'>
                <img src='{% static "img/codeaj.jpg" %}' width="100px">
            </div>

            <div class='info'>
                <h4>codeAj</h4>
                <p>codeaj4u@gmail.com</p>
                <p>8603862290</p>

            </div>
        </div>
        
        <div class= 'about-codeaj'>
            
            <div class=mini-box>
                <div class='b1'>
                    <p>
                    <h3>Contact</h3><br>
                    ajayoneness123@gmail.com<br>
                    www.linkedin.com/in/ajaypandit-073220191 (LinkedIn)<br><br>
                    <h4>Top Skills</h4><br>
                    C (Programming Language)
                    C++
                    Python (Programming Language)<br><br>
                    <h4>Certifications</h4><br>
                    SQL(basic)<br>
                    Python (Basic)
                    
                    </p>
                    
                </div>
                <div class='b2'>
                    <p>
                        <h2>Ajay pandit</h2><br>
                        PYTHON || C/C++ || HTML || CSS || JS || Kivy/KivyMD || Flask|| Web
                        Scrapping || CV2(basic) || Django(Learning... )<br><br>
                        Bhopal
                        Summary
                        Looking for Job
                        Education
                        Corporate Institute of Science & Technology, Hataikheda, Near Patel
                        Nagar, Raisen Road, Bhopal.<br><br>
                        Bachelor of Technology - BTech, Computer Science · (2019 - 2022)

                    </p>
                    
                
                </div>
            </div>
        
        </div>
    </div>
    
   
    
</body>

</html>